<div id="{{ index . "label"}}" class="container-fluid">
    <h2>Contact</h2>
	<ul>
		<li>{{ index . "email" }}</li>
		<li>{{ index . "phone" }}</li>
		<li>{{ index . "location" }}</li>
		<li>{{ index . "schedule" }}</li>
	</ul>
	<div class="shortcode shortcode--google-maps">
		<iframe
			src='https://www.google.com/maps/embed/v1/place?key={{ .Site.Params.googleMapsAPIKey }}&q={{ index . "location" }}'
			frameborder="0"
			scrolling="no"
			width="500px"
			height="150px" >
		</iframe>
	</div>
</div>
